<nav class="navbar navbar-light bg-light justify-content-between">

  <a class="navbar-brand" href="/">Resource Wall</a>

  <form method="GET" action="/search" class="form-inline">

    <input class="form-control mr-sm-2" type="search" name='query' placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0">Search</button>
  </form>

  <% if (user) { %>


  <button id="new-post-button" class="btn btn-outline-secondary" name='post'>New Post</button>
    <!-- TODO: style:display:none should be in the CSS file -->
  <section id="post-new-resource" style="display:none;">
    <form method="POST" action="/resources/new">
      <textarea class="" name="title" placeholder="Title"></textarea>
      <textarea class="" name="description" placeholder="description"></textarea>
      <textarea class="" name="url" placeholder="url"></textarea>

      <select name="topic" id="select-topics">
      </select>
    
      <input type="submit" value="post">
    </form>
  </section>


  <form method="POST" action="/logout" class="form-inline">
    <button class="btn btn-outline-secondary" name='logout'>Logout</button>
  </form>

  <% } else { %>
  <form method="POST" action="" class="form-inline">
    <button class="btn btn-outline-secondary" name='register'>Register</button>
  </form>

  <form method="POST" action="" class="form-inline">
    <button class="btn btn-outline-secondary" name='login'>Login</button>
  </form>

  <% } %>

</nav>