<nav class="navbar navbar-light bg-light justify-content-between">

  <a class="navbar-brand" href="/">Resource Wall</a>

  <form method="GET" action="/search" class="form-inline">

    <input class="form-control mr-sm-2" type="text" name='query' placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0">Search</button>
  </form>

  <% if (user) { %>
    <form method="POST" action="/resources/new" class="form-inline">
      <button class="btn btn-outline-secondary" name='post'>New Post</button>
    </form>

    <form method="POST" action="/logout" class="form-inline">
      <button class="btn btn-outline-secondary" name='logout'>Logout</button>
    </form>

  <% } else { %>
    <form method="POST" action="/register" class="form-inline">
      <button class="btn btn-outline-secondary" name='register'>Register</button>
    </form>

    <form method="POST" action= "/login" class="form-inline">
      <button class="btn btn-outline-secondary" name='login'>Login</button>
    </form>

  <% } %>

</nav>

