<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/client-functions.js"></script>  
    <script type="text/javascript" src="/scripts/index.js"></script>

  </head>

  <header>
    <% include partials/_navbar %>
  </header>

  <body>
    
    <!-- Masonry, CSS grid layout library-->
    <section id="testing" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
      <article class="grid-item"></article>
      <article class="grid-item"></article>
      <article class="grid-item"></article>

    </section>
  </body>

</html>


