<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User: <%= user.username %></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/client-functions.js"></script>  
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <header>
    <% include partials/_navbar %>
  </header>

  <body>
    <h1>Hello <%= user.username %>!</h1>    
    
    <img src="<%= user.avatar%>">
    <a href='/users/<%=user.username%>/settings'>Edit Your Profile</a>

    <h4>Your Resources</h4>
    <section class="create-container">
    </section>
    
    <h4>Your Liked Resources</h4>
    <section class="likes-container">
    </section>
  
  </body>
</html>


