.grid {
  margin: 20px;
  column-count: 3;
  margin: 1.5em 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
}

.grid-item {
  display: inline-block;
  background: #fff;
  padding: 1.5em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.grid-item .title {
  text-align: center;
  vertical-align: middle;
}

.grid-item .desc {
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item .topic {
  font-size: 0.8em;
  padding: 2px;
  margin: 1px;
  width: fit-content;
}

.grid-item .urlLink {
  margin: 5px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.grid-item .ratings {
  float: right;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 1024px) {
  .grid {
    column-count: 4;
  }
}
/* grid on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .grid {
    column-count: 3;
  }
}
/* grid on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .grid {
    column-count: 2;
  }
}
.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 13px;
}

.form-control:focus {
  border-color: #33cabb;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navbar-header.col {
  padding: 0 !important;
}

.navbar {
  background-image: url("https://wallpaper-gallery.net/images/monopoly-wallpaper/monopoly-wallpaper-24.jpg") !important;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
  width: 100%;
  margin-top: 0px;
}

.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  padding-left: 0;
  font-size: 25px;
  padding-right: 50px;
}

.navbar .navbar-brand b {
  font-size: 25px;
  font-weight: bold;
  color: #c70007;
}

.navbar .form-inline {
  display: inline-block;
}

.navbar .nav li {
  position: relative;
}

.navbar .nav li a {
  color: #888;
}

.search-box {
  position: relative;
}

.search-box input {
  padding-right: 35px;
  border-color: #dfe3e8;
  border-radius: 4px !important;
  box-shadow: none;
}

.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}

.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}

.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  color: #fff;
  background: #0074D9;
  padding-top: 8px;
  padding-bottom: 6px;
  vertical-align: middle;
  border: none;
}

.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
  color: #fff;
  outline: none;
  background: #31bfb1;
}

.navbar .navbar-right li:first-child a {
  padding-right: 30px;
}

.navbar .nav-item i {
  font-size: 18px;
}

.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.open > a {
  background: transparent !important;
}

.navbar .nav .get-started-btn {
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar ul.nav li.open > a.get-started-btn {
  color: #fff;
  background: #31bfb1 !important;
}

.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .nav .dropdown-menu li {
  color: #999;
  font-weight: normal;
}

.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;
  line-height: normal;
}

.navbar .navbar-form {
  border: none;
}

.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}

.navbar .dropdown-menu.form-wrapper a {
  color: #33cabb;
  padding: 0 !important;
}

.navbar .dropdown-menu.form-wrapper a:hover {
  text-decoration: underline;
}

section {
  padding: 15px;
  margin: 10px 10px;
}

.resource-container {
  border-radius: 10px;
  text-align: center;
  margin: 20px 20% 0 20%;
  background: white;
}

input {
  width: 25%;
}

.opinions {
  text-align: center;
  margin: 0 20%;
  padding: 10px 0 70px 0;
  background: white;
  border-radius: 10px;
  border: 0;
}

.ratings {
  float: left;
  margin-left: 15px;
}

h2, h4, h5, p {
  text-align: center;
}

.edit-text {
  width: 45%;
}

.select-topics {
  margin-left: 45%;
}

/*
textarea {
  margin-left: 32%;
  width: 500px;
  height: 100px;
} */
.ratings, .likes, .button-container {
  display: flex;
  justify-content: center;
}

i {
  margin: 5px;
}

.likes {
  float: right;
  margin-right: 15px;
}

.comment-container {
  border-radius: 10px;
  text-align: center;
  margin: 20px 20% 0 20%;
  background: white;
  width: 80%;
}

.other-comment {
  display: inline;
}

#user-comment {
  float: right;
  width: 100%;
  height: 100px;
  text-align: center;
}

#comment {
  margin: 15px;
  float: left;
}

#comment-btn {
  margin: 15px;
  float: left;
}

.resource-container #Coding {
  background: #3D9970;
  color: white;
}

.resource-container #Gaming {
  background: #FF4136;
  color: white;
}

.resource-container #Languages {
  background: #0074D9;
  color: white;
}

.resource-container #Photography {
  background: #FF851B;
  color: white;
}

.resource-container #Cooking {
  background: #85144b;
  color: white;
}

.comment-container {
  margin: 10px 0 0 10%;
  float: left;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 8px;
  width: 80%;
}

.comment-body {
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 100px;
}

.comment-user {
  float: left;
}

.comment-avatar {
  float: left;
  width: 100px;
  height: 100px;
}

.resource-buttons {
  margin-left: 20%;
}

.user-avatar {
  width: 200px;
  height: 200px;
  margin: 25px;
  float: left;
}

.greeting {
  margin-top: 90px;
  margin-bottom: 125px;
}

.card {
  display: inline-flex;
  margin: 3px;
  margin-left: 15px;
  flex: 0 0 auto;
  /* float: right; */
  width: 250px;
  height: 200px;
  border-radius: 8px;
  line-height: 1.5em;
  /* position: relative; */
}

.card-title {
  background-color: #33cabb;
  text-align: center;
}

h3.userLine {
  margin: 0 0.6em;
  border-bottom: 3px solid black;
}

.card-text {
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  width: 100%;
}

section {
  margin-top: 40px;
  margin-left: 40px;
}

h3.profile {
  border-bottom: 3px solid black;
}

.profile-avatar {
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  font-size: 1.15em;
  background: whitesmoke;
}

body h1 {
  color: #244751;
}

/* TOPIC CSS */
.grid-item #Coding {
  background: #3D9970;
  color: white;
}

.grid-item #Gaming {
  background: #FF4136;
  color: white;
}

.grid-item #Languages {
  background: #0074D9;
  color: white;
}

.grid-item #Photography {
  background: #FF851B;
  color: white;
}

.grid-item #Cooking {
  background: #85144b;
  color: white;
}

/*# sourceMappingURL=custom.css.map */
