html {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.15em;
  background: #D7BAAA;
}

body h1 {
  color: #244751;
}


/* Masonary CSS */

.grid {
  margin: 20px;
  column-count: 3;
  margin: 1.5em 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

.grid-item {
  display: inline-block;
  background: #fff;
  padding: 1.5em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.grid-item .title {
  text-align: center;
  vertical-align: middle;
}

.grid-item .desc {
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.grid-item .topic {
  font-size: 0.8em;
  padding: 2px;
  margin: 1px;
  width: fit-content;
}

.grid-item .urlLink {
  margin: 5px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.grid-item .ratings {
  float: right;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 1024px) {
  .grid {
    column-count: 4;
  }
}

/* grid on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .grid {
    column-count: 3;
  }
}

/* grid on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .grid {
    column-count: 2;
  }
}




/* nav-bar custom CSS */

.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 13px;
}

.form-control:focus {
  border-color: #33cabb;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navbar-header.col {
  padding: 0 !important;
}

.navbar {
  background-image: url("https://wallpaper-gallery.net/images/monopoly-wallpaper/monopoly-wallpaper-24.jpg"
    ) !important;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
  width: 100%;
  margin-top: 0px;
}

.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  padding-left: 0;
  font-size: 25px;
  padding-right: 50px;
}

.navbar .navbar-brand b {
  font-size: 25px;
  font-weight: bold;
  color: #c70007;
}

.navbar .form-inline {
  display: inline-block;
}

.navbar .nav li {
  position: relative;
}

.navbar .nav li a {
  color: #888;
}

.search-box {
  position: relative;
}

.search-box input {
  padding-right: 35px;
  border-color: #dfe3e8;
  border-radius: 4px !important;
  box-shadow: none
}

.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}

.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}

.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  color: #fff;
  background: #0074D9;
  padding-top: 8px;
  padding-bottom: 6px;
  vertical-align: middle;
  border: none;
}

.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
  color: #fff;
  outline: none;
  background: #31bfb1;
}

.navbar .navbar-right li:first-child a {
  padding-right: 30px;
}

.navbar .nav-item i {
  font-size: 18px;
}

.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.open>a {
  background: transparent !important;
}

.navbar .nav .get-started-btn {
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar ul.nav li.open>a.get-started-btn {
  color: #fff;
  background: #31bfb1 !important;
}

.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .nav .dropdown-menu li {
  color: #999;
  font-weight: normal;
}

.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;
  line-height: normal;
}

.navbar .navbar-form {
  border: none;
}

.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}

.navbar .dropdown-menu.form-wrapper a {
  color: #33cabb;
  padding: 0 !important;
}

.navbar .dropdown-menu.form-wrapper a:hover {
  text-decoration: underline;
}


/* TOPIC CSS */

.grid-item #Coding {
  background: #3D9970;
  color: white;
}

.grid-item #Gaming {
  background: #FF4136;
  color: white;
}

.grid-item #Languages {
  background: #0074D9;
  color: white;
}

.grid-item #Photography {
  background: #FF851B;
  color: white;
}

.grid-item #Cooking {
  background: #85144b;
  color: white;
}
