

section {
    padding: 15px;
}

.resource-container {
    border: 1px solid #DDDDDDDD;
    border-radius: 10px;
    text-align: center;
    margin: 20px 20%;
    background: white;   
}

input {
    width: 25%;
}

textarea {
    width: 500px;
    height: 100px;
}

.ratings {
    float: left;
    margin-right: 50px;
    margin-left: 15px;
}

.other-comment {
    display: inline;
}

#user-comment {
    width: 500px;
    height: 100px;
}

#comment {
    margin: 15px;
    float: left;
}

#comment-btn {
    margin: 15px;
    float: left;
}

 #Coding {
    background: #3D9970;
    color: white;
  }
  
   #Gaming {
    background: #FF4136;
    color: white;
  }
  
   #Languages {
    background: #0074D9;
    color: white;
  }
  
   #Photography {
    background: #FF851B;
    color: white;
  }
  
   #Cooking {
    background: #85144b;
    color: white;
  }