

// Masonry CSS

.grid {
  margin: 20px;
  column-count: 3;
  margin: 1.5em 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

.grid-item {
  display: inline-block;
  background: #fff;
  padding: 1.5em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.grid-item .title {
  text-align: center;
  vertical-align: middle;
}

.grid-item .desc {
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item .topic {
  font-size: 0.8em;
  padding: 2px;
  margin: 1px;
  width: fit-content;
}

.grid-item .urlLink {
  margin: 5px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.grid-item .ratings {
  float: right;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 1024px) {
  .grid {
    column-count: 4;
  }
}

/* grid on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .grid {
    column-count: 3;
  }
}

/* grid on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .grid {
    column-count: 2;
  }
}



