
img {
  width: 200px;
  height: 200px;
  margin: 25px;
  float: left;
}

.greeting {
  margin-top: 90px;
  margin-bottom: 125px;
}

.created-resource {
  display: inline-block;
  margin-bottom: 35px;
  /*position: absolute;*/
  width: 80%;
  margin: 0;
  width: 0;
  height: 0;
  /*height: 100%;*/
}

.liked-resource {
  display: block;
  margin: 0;
  padding: 0;
  /*position: relative;*/
  width: 0;
  height: 0;
  /*height: 100%;*/
}

.card {
  display: inline-flex;
  margin: 3px;
  margin-left: 15px;
  flex: 0 0 auto;
  /*float: left;*/
  width: 250px;
  height: 200px;
  border-radius: 8px;
  line-height: 1.5em;
}

.card-title {
  background-color: #33cabb;
  text-align: center;
}

h3 {
  margin-left: 40px;
  border-bottom: 3px solid black;
}

.card-text {
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

