//user setting-page

header {
  width: 100%;
}

section {
  margin-top: 40px;
  margin-left: 40px;
}

h3.profile {
  border-bottom: 3px solid black;
}

.profile-avatar {
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
}